.logins {
	width: 590px;
	height: 485px;
	border-radius: 5px;
	text-align: center;
	margin: 50px auto;
	background: #eff3f7;
	-webkit-box-shadow: 0px 4px 10px 3px rgba(179,181,181,1);
	-moz-box-shadow: 0px 4px 10px 3px rgba(179,181,181,1);
	box-shadow: 0px 4px 10px 3px rgba(179,181,181,1);
}
.head-login {
	background: #48cbe8;
	border-bottom: 15px solid #67dffa;
	border-radius: 5px 5px 0 0;
	margin-bottom: 16px;
	padding: 15px 20px;
	color: #fff;
}
.head-span {
	font-size: 40px;
 	font-family: "fira_sansbook";
}
.form-login {
	width: 430px;
	margin: 0 auto;
	font-family: "fira_sanslight";
}
.login-span {
	padding-left: 163px;
    font-size: 36px;
	color: #959aa8;
	text-align: left;
	display: block;
}
.span-two {
	padding-left: 150px;
}
.login-input {
	font-size: 16px;
	width: 170px;
	color: #54cee9;
	padding: 18px 230px 18px 20px;
	line-height: normal;
	border: 1px solid #48cbe8;
	border-radius: 5px;
	margin-bottom: 12px;
}
.login-submit {
	color: #fff;
	border: none;
	font-size: 36px;
	line-height: 50px;
	border-radius: 7px;
	background: #48cbe8;
	padding: 0px 62px;
	margin-top: 22px;
	-webkit-box-shadow: 0px 4px 0px 0px rgba(59,168,192,1);
	-moz-box-shadow: 0px 4px 0px 0px rgba(59,168,192,1);
	box-shadow: 0px 4px 0px 0px rgba(59,168,192,1);
	transition: 0.3s;
}
.login-submit:hover {
	box-shadow: none;
}
::-webkit-input-placeholder {color:#54cee9;}
::-moz-placeholder          {color:#54cee9;}
:-moz-placeholder           {color:#54cee9;}
:-ms-input-placeholder      {color:#54cee9;}
.errors {
	border: 1px solid red;
	background: red;
	opacity: 0.6
}