<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href="css/style.css" rel="stylesheet">
</head>
<body>
	<header>
		<div class="headers container clearfix">
			<div class="logo"></div>
			<div class="navigation">
				<ul>
					<li><a href="#">Our story</a></li>
					<li><a href="#">Menu</a></li>
					<li><a href="#">Reservations</a></li>
					<li><a href="#">News</a></li>
					<li><a href="#">Rewiew</a></li>
				</ul>
			</div>
		</div>
	</header>
	<div class="templ clearfix">
		<div class="templ-slogan container clearfix">
			<p>resto restaurant home page website template</p>
		</div>
	</div>
	<div class="main clearfix">
		<div class="main-menu container clearfix">
			<div class="price clearfix">
				<div class="menu-logo"></div>
				<div class="menu-first">
					<div class="name-dish">
						<h3>Voluptate cillum fugiat.</h3><br>
						<p>Cheese, tomato, mushrooms, onions.</p>
						<h3 class="cost">$50</h3>
					</div>
					<div class="name-dish">
						<h3>Metus varius laoreet.</h3><br>
						<p>Chicken, mozzarella cheese, onions.</p>
						<h3 class="cost">$62</h3>
					</div>
					<div class="name-dish">
						<h3>Donec sodales magna.</h3><br>
						<p>Tuna, Sweetcorn, Cheese.</p>
						<h3 class="cost">$25</h3>
					</div>
					<div class="name-dish">
						<h3>Saugue velit cursus.</h3><br>
						<p>Pineapple, Minced Beef, Cheese.</p>
						<h3 class="cost">$30</h3>
					</div>
				</div>
				<div class="menu-second">
					<div class="name-dish">
						<h3>Arcu pede enim justo.</h3><br>
						<p>Tuna, Sweetcorn, Cheese.</p>
						<h3 class="cost">$45</h3>
					</div>
					<div class="name-dish">
						<h3>Cras dapibussemper nisi.</h3><br>
						<p>Pineapple, Minced Beef, Cheese.</p>
						<h3 class="cost">$32</h3>
					</div>
					<div class="name-dish">
						<h3>Quam semper libero.</h3><br>
						<p>Cheese, tomato, mushrooms, onions.</p>
						<h3 class="cost">$15</h3>
					</div>
					<div class="name-dish">
						<h3>Nam eget dui Etiam.</h3><br>
						<p>Chicken, mozzarella cheese, onions.</p>
						<h3 class="cost">$35</h3>
					</div>
				</div>
			</div>
			<div class="dishes clearfix">
				<h2>FEATURED DISHES</h2>
				<div class="featured_dishes">
					<a href="#">
					<img src="img/dish1.jpg">
					<p>Fugiat nulla sint</p>
					<p class="cost">$30</p>
					<span class="star_raiting"></span>
					</a>
				</div>
				<div class="featured_dishes">
					<a href="#">
					<img src="img/dish2.jpg">
					<p>Daute irure dolor</p>
					<p class="cost">$24</p>
					<span class="star_raiting star2"></span>
					</a>
				</div>
				<div class="featured_dishes">
					<a href="#">
					<img src="img/dish3.jpg">
					<p>Officia deserunt mollit</p>
					<p class="cost">$60</p>
					<span class="star_raiting star3"></span>
					</a>
				</div>
				<div class="featured_dishes">
					<a href="#">
					<img src="img/dish4.jpg">
					<p>Pim minim veniam</p>
					<p class="cost">$17</p>
					<span class="star_raiting"></span>
					</a>
				</div>
			</div>
			<div class="gallery clearfix">
				<h2>GALLERY</h2>
				<div class="gallery_div">
					<a href="#" class="gallerys_imgs img_dish1"></a>
					<a href="#" class="gallerys_img img_dish2"></a>
					<a href="#" class="gallerys_img img_dish3"></a>
					<a href="#" class="gallerys_img img_dish4"></a>
					<a href="#" class="gallerys_img img_dish5"></a>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="foot-cont container">
			<div class="adress foot-contain">
				<p>New York Restaurant<br>
				   3926 Anmoore Road<br>
				   New York, NY 10014<br>
				   718-749-1714</p>
			</div>
			<div class="adress-two foot-contain">
				<p>France Restaurant<br>
				   68, rue de la Couronne<br>
				   75002 PARIS<br>
				   02.94.23.69.56</p>
			</div>
			<div class="breadcrumbs foot-contain">
				<ul>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Careers</a></li>
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
			<div class="foot-logos foot-contain">
				<img src="img/logos.png">
				<p>© All Rights Reserved 2014.<br>
				   Find  More at <a href="#">Pixelhint.com</a></p>
			</div>
		</div>
	</footer>
</body>
</html>