/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-size: 14px;
	line-height: 24px;
	color: #000;
	font-weight: 700;
	margin: 0;
	padding: 0;
	background: #ffffff;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix:after {
	clear:both;
	content: '';
	display: table;
}
.container {
	width: 1280px;
	margin: 0 auto;
}
header {
	width: 100%
}
.headers {
	    padding: 20px 20px 10px 20px;
}
.logo {
	float: left;
	display: inline-block;
	width: 100px;
    height: 30px;
    margin-left: 70px;
	background: url(../img/logo.png) no-repeat;
}
.navigation {
	height: 40px;
	float: right;
	margin-right: 70px;
}
.navigation ul li {
	float: left;
	margin-left: 15px;
}
.navigation ul li a {
	color: #000;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 600;;
	text-decoration: none;
}
.navigation a:hover {
	color: #f34949;
}
.templ {
	height: 514px;
	background: url(../img/bg.jpg) no-repeat 50%;
	background-size: cover;
	border-bottom: 4px solid #f34949;
}
.templ-slogan {
	padding-top: 310px;
    text-align: center;
}
.templ-slogan p {
	display: inline;
  	margin: 0;
  	padding: 0 25px;
	font-size: 20px;
	font-weight: 100;
    color: #fff; 
}
.menu-logo {
	margin: 0 auto;
	width: 155px;
	height: 75px;
	background: url(../img/menu.png) no-repeat;
	margin-bottom: 50px;

}
.menu-first, .menu-second {
	width: 500px;
	float: left;
	margin-left: 100px;
	margin-bottom: 150px;
}
.name-dish {
	margin-bottom: 40px;
}
.name-dish h3 {
	display: inline-block;
	font-size: 20px;
	font-weight: 400;
	color: #555555;
	position: relative;
	z-index: 2;
}
.name-dish p {
	display: inline-block;
	font-size: 14px;
	font-weight: 100;
	color: #b7b7b7;
}
.cost {
	float: right;
	margin-top: -15px;
	text-align: right;
}
.name-dish:after {
	width: 450px;
  	content: "";
    position: relative;
  	top: -26px;
    z-index: 1;
    display: block;
    border-bottom: 1px solid #e3e1e1;
}
.dishes {
	padding-left: 51px;
}
.dishes h2 {
	margin-left: 48px;
	margin-bottom: 70px;
    position: relative;
    font-size: 23px;
    font-weight: 400;
    z-index: 2;
}
.dishes h2:after {
    width: 220px;
    right: -230px;
    content: "";
    position: relative;
    top: -12px;
    z-index: 1;
    display: block;
    border-bottom: 1px solid #e3e1e1;
}
.featured_dishes {
	height: 230px;
	float: left;
	margin-bottom: 100px;
	margin-left: 40px;
}
.featured_dishes div:first-child {
	margin-left: 100px;
}
.featured_dishes a {
	text-decoration: none;
	font-size: 18px;
	font-weight: 400;
	color: #555555;
}
.featured_dishes a img {
	width: 247px;
	padding-bottom: 10px;
}
.featured_dishes a .cost {
	margin-top: -25px;
}
.star_raiting {
	display: inline-block;
	width: 100px;
	height: 15px;
	background: url(../img/star.png) no-repeat;
}
.star2 {
	background-position: 0 -23px;
}
.star3 {
	background-position: 0 -46px;
}
.gallery {
	margin-bottom: 150px;
}
.gallery h2 {
	margin-left: 100px;
	margin-bottom: 70px;
    position: relative;
    font-size: 23px;
    font-weight: 400;
    z-index: 2;
}
.gallery h2:after {
	width: 220px;
    right: -136px;
    content: "";
    position: relative;
    top: -12px;
    z-index: 1;
    display: block;
    border-bottom: 1px solid #e3e1e1;
}
.gallery_div {
	padding-left: 92px;
}
.gallerys_imgs {
	float: left;
	display: inline-block;
	width: 365px;
	height: 430px;
	background: url(../img/g1.jpg) no-repeat;
	background-size: cover;
	background-position: -120px 0px;
}
.gallerys_img {
	display: inline-block;
	width: 365px;
	height: 215px;
	background: url(../img/g2.jpg) no-repeat;
	background-size: cover;
}
.img_dish2 {
	float: left;
	background: url(../img/g2.jpg) no-repeat;
	background-size: cover;
	background-position: 0px 0px;
}
.img_dish3 {
	float: left;
	background: url(../img/g3.jpg) no-repeat;
	background-size: cover;
    background-position: 0px -22px;
}
.img_dish4 {
	float: left;
	background: url(../img/g4.jpg) no-repeat;
	background-size: cover;
    background-position: 0px -13px;
}
.img_dish5 {
	float: left;
	background: url(../img/g5.jpg) no-repeat;
	background-size: cover;
	background-position: 0px -16px;
}
footer {
	width: 100%;
	height: 200px;
	background: #3b3b3b;
}
.foot-contain {
	float: left;
	display: inline-block;
	color: #ffffff;
	width: 275px;
	height: 100px;
	margin-top: 50px;
	font-size: 16px;
	font-weight: 100;
}
.adress {
	margin-left: 100px;
}
.breadcrumbs ul li a, .foot-logos a {
	text-decoration: none;
	color: #ffffff;
}
.breadcrumbs a:hover, .foot-logos a:hover {
	color: #f34949;
}