@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 100;
	src: local("Roboto Thin"), local("Roboto-Thin"), url('robotothin.woff2') format("woff2"), url('robotothin.woff') format("woff"), url('robotothin.ttf') format("truetype");
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 100;
	src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"), url('robotothinitalic.woff2') format("woff2"), url('robotothinitalic.woff') format("woff"), url('robotothinitalic.ttf') format("truetype");
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('robotolight.woff2') format("woff2"), url('robotolight.woff') format("woff"), url('robotolight.ttf') format("truetype");
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 300;
	src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url('robotolightitalic.woff2') format("woff2"), url('robotolightitalic.woff') format("woff"), url('robotolightitalic.ttf') format("truetype");
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url('roboto.woff2') format("woff2"), url('roboto.woff') format("woff"), url('roboto.ttf') format("truetype");
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 400;
	src: local("Roboto Italic"), local("Roboto-Italic"), url('robotoitalic.woff2') format("woff2"), url('robotoitalic.woff') format("woff"), url('robotoitalic.ttf') format("truetype");
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"), url('robotomedium.woff2') format("woff2"), url('robotomedium.woff') format("woff"), url('robotomedium.ttf') format("truetype");
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 500;
	src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url('robotomediumitalic.woff2') format("woff2"), url('robotomediumitalic.woff') format("woff"), url('robotomediumitalic.ttf') format("truetype");
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('robotobold.woff2') format("woff2"), url('robotobold.woff') format("woff"), url('robotobold.ttf') format("truetype");
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 700;
	src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url('robotobolditalic.woff2') format("woff2"), url('robotobolditalic.woff') format("woff"), url('robotobolditalic.ttf') format("truetype");
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	src: local("Roboto Black"), local("Roboto-Black"), url('robotoblack.woff2') format("woff2"), url('robotoblack.woff') format("woff"), url('robotoblack.ttf') format("truetype");
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 900;
	src: local("Roboto Black Italic"), local("Roboto-BlackItalic"), url('robotoblackitalic.woff2') format("woff2"), url('robotoblackitalic.woff') format("woff"), url('robotoblackitalic.ttf') format("truetype");
}
@font-face {
	font-family: "Anonymous Pro";
	font-style: normal;
	font-weight: 400;
	src: local("Anonymous Pro"), local("AnonymousPro"), url('zhfjj_gat3wal4jsju74e5hb0nv9g4gc7b-efxe8m9g.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Anonymous Pro";
	font-style: normal;
	font-weight: 400;
	src: local("Anonymous Pro"), local("AnonymousPro"), url('zhfjj_gat3wal4jsju74e6pfsbp7xuo1ux-mweeywme.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Anonymous Pro";
	font-style: normal;
	font-weight: 400;
	src: local("Anonymous Pro"), local("AnonymousPro"), url('zhfjj_gat3wal4jsju74e-lnmk1lg-vmhucbhjaybgq.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Anonymous Pro";
	font-style: normal;
	font-weight: 400;
	src: local("Anonymous Pro"), local("AnonymousPro"), url('zhfjj_gat3wal4jsju74exeos6aq7hjaaidqnr3rgdu.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Bad Script";
	font-style: normal;
	font-weight: 400;
	src: local("Bad Script Regular"), local("BadScript-Regular"), url('xvnrv3h3fzsc-fsw6fojeceavth_llrfe80cydsh47w.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Bad Script";
	font-style: normal;
	font-weight: 400;
	src: local("Bad Script Regular"), local("BadScript-Regular"), url('rl_b2nd61eqmmoj8crr1fvk_varhqviz0nv9q090hn8.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Comfortaa";
	font-style: normal;
	font-weight: 400;
	src: local("Comfortaa"), local("Comfortaa-Regular"), url('be0ckotwwi2n86hmhtablrjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Comfortaa";
	font-style: normal;
	font-weight: 400;
	src: local("Comfortaa"), local("Comfortaa-Regular"), url('-dackuifgo7hfy3rr14c3xjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Comfortaa";
	font-style: normal;
	font-weight: 400;
	src: local("Comfortaa"), local("Comfortaa-Regular"), url('ugyuhlckruocj8oznvelzxjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Comfortaa";
	font-style: normal;
	font-weight: 400;
	src: local("Comfortaa"), local("Comfortaa-Regular"), url('wz1gqe57mbg11v-orllvjhjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Comfortaa";
	font-style: normal;
	font-weight: 400;
	src: local("Comfortaa"), local("Comfortaa-Regular"), url('qlbu5cqmsmt1h43oiwj77vtxra8tvwticgirnjhmvjw.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Forum";
	font-style: normal;
	font-weight: 400;
	src: local("Forum"), url('amhljriz1_i3dwwu6zufuw.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Forum";
	font-style: normal;
	font-weight: 400;
	src: local("Forum"), url('dhwh2mp2wedtofjhiqabkw.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Forum";
	font-style: normal;
	font-weight: 400;
	src: local("Forum"), url('wkbrg5qedxypxamloxa7fg.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Forum";
	font-style: normal;
	font-weight: 400;
	src: local("Forum"), url('emdvaukvr_spjjceeqyi5a.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Jura";
	font-style: normal;
	font-weight: 400;
	src: local("Jura Regular"), local("Jura-Regular"), url('ttp6pklk4sso46rasyf3pa.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Jura";
	font-style: normal;
	font-weight: 400;
	src: local("Jura Regular"), local("Jura-Regular"), url('bklgo-m363vjpxrirr3a5a.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Jura";
	font-style: normal;
	font-weight: 400;
	src: local("Jura Regular"), local("Jura-Regular"), url('lncb6wfxj5reqhju945eog.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Jura";
	font-style: normal;
	font-weight: 400;
	src: local("Jura Regular"), local("Jura-Regular"), url('bmi0gxzww8t20k342lco0g.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Jura";
	font-style: normal;
	font-weight: 400;
	src: local("Jura Regular"), local("Jura-Regular"), url('2jw1gptuhy2mk02g7zxodq.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Lobster";
	font-style: normal;
	font-weight: 400;
	src: local("Lobster"), local("Lobster-Regular"), url('c28rh3kclcleuisghog7evy6323mhuzfjmgtvxag2ie.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Lobster";
	font-style: normal;
	font-weight: 400;
	src: local("Lobster"), local("Lobster-Regular"), url('rdfs2komdwxvet4_dzqehvy6323mhuzfjmgtvxag2ie.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF1, U+20AB;
}
@font-face {
	font-family: "Lobster";
	font-style: normal;
	font-weight: 400;
	src: local("Lobster"), local("Lobster-Regular"), url('9nqnyv_lp7zlaf8jhr7f1vy6323mhuzfjmgtvxag2ie.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Lobster";
	font-style: normal;
	font-weight: 400;
	src: local("Lobster"), local("Lobster-Regular"), url('cycbf3mfbgkh66g5nhszpq.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Marck Script";
	font-style: normal;
	font-weight: 400;
	src: local("Marck Script"), local("MarckScript-Regular"), url('o_d1nazvofooblbvtw3bcpx5f-9o1vgp2exwfjgl7ay.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Marck Script";
	font-style: normal;
	font-weight: 400;
	src: local("Marck Script"), local("MarckScript-Regular"), url('o_d1nazvofooblbvtw3bcj0lw-43amezio6xutljad8.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Marck Script";
	font-style: normal;
	font-weight: 400;
	src: local("Marck Script"), local("MarckScript-Regular"), url('o_d1nazvofooblbvtw3bcugdm0lzdjqr5-oayxsoefg.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Neucha";
	font-style: normal;
	font-weight: 400;
	src: local("Neucha"), url('kfcpwuyjzqqtpfeshgr73_eszw2xoq-xsnqo47m55da.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Neucha";
	font-style: normal;
	font-weight: 400;
	src: local("Neucha"), url('irvp3tb0tsoy_umhmcqltw.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Cond Light"), local("OpenSans-CondensedLight"), url('gk5fxslnktthtojxrkp-xjwna6kgmw9hihjubpkzl2f3rgvtstkpsbdajuo5ueqw.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Cond Light"), local("OpenSans-CondensedLight"), url('gk5fxslnktthtojxrkp-xkdgppwtn2kpfru4k7t0t-v3rgvtstkpsbdajuo5ueqw.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Cond Light"), local("OpenSans-CondensedLight"), url('gk5fxslnktthtojxrkp-xn9i7v7u2vzkhc55nwxtqfn3rgvtstkpsbdajuo5ueqw.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Cond Light"), local("OpenSans-CondensedLight"), url('gk5fxslnktthtojxrkp-xk1uedcgzdcfv3twanvdplj3rgvtstkpsbdajuo5ueqw.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Cond Light"), local("OpenSans-CondensedLight"), url('gk5fxslnktthtojxrkp-xc3qj1xlvlgj0jktnjzwu233rgvtstkpsbdajuo5ueqw.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF1, U+20AB;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Cond Light"), local("OpenSans-CondensedLight"), url('gk5fxslnktthtojxrkp-xc8haq4ocbp44gfqt8tmfch3rgvtstkpsbdajuo5ueqw.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Cond Light"), local("OpenSans-CondensedLight"), url('gk5fxslnktthtojxrkp-xbeur64qvld-0ibiadtunxe.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Philosopher";
	font-style: normal;
	font-weight: 400;
	src: local("Philosopher"), url('ottjxgcoesufogsinybgltuj_cnvwiuubmvgbx098mw.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Philosopher";
	font-style: normal;
	font-weight: 400;
	src: local("Philosopher"), url('ottjxgcoesufogsinybgly4p5icox8kq3llunmylgo4.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Play";
	font-style: normal;
	font-weight: 400;
	src: local("Play"), local("Play-Regular"), url('_uiws5dpkc1rfhgpw_d7vq.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Play";
	font-style: normal;
	font-weight: 400;
	src: local("Play"), local("Play-Regular"), url('vi6dwr3qofadpi7kktnlug.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Play";
	font-style: normal;
	font-weight: 400;
	src: local("Play"), local("Play-Regular"), url('4w1i2gqdprp6purv5l9lzw.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Play";
	font-style: normal;
	font-weight: 400;
	src: local("Play"), local("Play-Regular"), url('yjd7z5idi6khm_wnigfa0q.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Play";
	font-style: normal;
	font-weight: 400;
	src: local("Play"), local("Play-Regular"), url('zno-5sxcwh1cxgz-n3bt2g.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Ruslan Display";
	font-style: normal;
	font-weight: 400;
	src: local("Ruslan Display"), local("RuslanDisplay"), url('sredhlylnufu1vssrbfs3vu6mwwejxqfxrm03tsnjcq.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Ruslan Display";
	font-style: normal;
	font-weight: 400;
	src: local("Ruslan Display"), local("RuslanDisplay"), url('sredhlylnufu1vssrbfs3l_mtjxowllkn5o0fzv_b3i.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Ruslan Display";
	font-style: normal;
	font-weight: 400;
	src: local("Ruslan Display"), local("RuslanDisplay"), url('sredhlylnufu1vssrbfs3jvvp17arvil4sttljmosag.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Ubuntu Condensed";
	font-style: normal;
	font-weight: 400;
	src: local("Ubuntu Condensed"), local("UbuntuCondensed-Regular"), url('dbct-nxn57mtafjityxdrdrvev4wajw489crdhikj90.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Ubuntu Condensed";
	font-style: normal;
	font-weight: 400;
	src: local("Ubuntu Condensed"), local("UbuntuCondensed-Regular"), url('dbct-nxn57mtafjityxdrcgxdonx9ptx3utsptrfsgk.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Ubuntu Condensed";
	font-style: normal;
	font-weight: 400;
	src: local("Ubuntu Condensed"), local("UbuntuCondensed-Regular"), url('dbct-nxn57mtafjityxdraz98xo_wnt-jiem4aulgfs.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Ubuntu Condensed";
	font-style: normal;
	font-weight: 400;
	src: local("Ubuntu Condensed"), local("UbuntuCondensed-Regular"), url('dbct-nxn57mtafjityxdre1g989qbvg6rt5ly5jb8v8.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Ubuntu Condensed";
	font-style: normal;
	font-weight: 400;
	src: local("Ubuntu Condensed"), local("UbuntuCondensed-Regular"), url('dbct-nxn57mtafjityxdrd86pq2nkpzvgw_9lpt6rgi.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Ubuntu Condensed";
	font-style: normal;
	font-weight: 400;
	src: local("Ubuntu Condensed"), local("UbuntuCondensed-Regular"), url('dbct-nxn57mtafjityxdrdadhzwoyhqhvozmrgaeypo.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Cond Light"), local("OpenSans-CondensedLight"), url('gk5fxslnktthtojxrkp-xjwna6kgmw9hihjubpkzl2f3rgvtstkpsbdajuo5ueqw.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Cond Light"), local("OpenSans-CondensedLight"), url('gk5fxslnktthtojxrkp-xkdgppwtn2kpfru4k7t0t-v3rgvtstkpsbdajuo5ueqw.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Cond Light"), local("OpenSans-CondensedLight"), url('gk5fxslnktthtojxrkp-xn9i7v7u2vzkhc55nwxtqfn3rgvtstkpsbdajuo5ueqw.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Cond Light"), local("OpenSans-CondensedLight"), url('gk5fxslnktthtojxrkp-xk1uedcgzdcfv3twanvdplj3rgvtstkpsbdajuo5ueqw.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Cond Light"), local("OpenSans-CondensedLight"), url('gk5fxslnktthtojxrkp-xc3qj1xlvlgj0jktnjzwu233rgvtstkpsbdajuo5ueqw.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF1, U+20AB;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Cond Light"), local("OpenSans-CondensedLight"), url('gk5fxslnktthtojxrkp-xc8haq4ocbp44gfqt8tmfch3rgvtstkpsbdajuo5ueqw.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Cond Light"), local("OpenSans-CondensedLight"), url('gk5fxslnktthtojxrkp-xbeur64qvld-0ibiadtunxe.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Condensed Bold"), local("OpenSans-CondensedBold"), url('gk5fxslnktthtojxrkp-xbrt1lp9idz6q20xttjh6zv3rgvtstkpsbdajuo5ueqw.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Condensed Bold"), local("OpenSans-CondensedBold"), url('gk5fxslnktthtojxrkp-xis898ubcvj0fentoasbk6p3rgvtstkpsbdajuo5ueqw.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Condensed Bold"), local("OpenSans-CondensedBold"), url('gk5fxslnktthtojxrkp-xbkraxwpsr1uszuhaaol_4_3rgvtstkpsbdajuo5ueqw.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Condensed Bold"), local("OpenSans-CondensedBold"), url('gk5fxslnktthtojxrkp-xktahfcyyjmakhz-jw4dxo73rgvtstkpsbdajuo5ueqw.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Condensed Bold"), local("OpenSans-CondensedBold"), url('gk5fxslnktthtojxrkp-xp1csdu87ma3di2vmazcpsr3rgvtstkpsbdajuo5ueqw.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF1, U+20AB;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Condensed Bold"), local("OpenSans-CondensedBold"), url('gk5fxslnktthtojxrkp-xbztfhwvselvqpbwxzfhk633rgvtstkpsbdajuo5ueqw.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Condensed Bold"), local("OpenSans-CondensedBold"), url('gk5fxslnktthtojxrkp-xif8zhzcj7x9pr62crgavua.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('k88pr3goawt7btt32z01mxjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('rjgo7rytmqivp7vzi-q5urjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('lwcjsqkb6emdfhrevqa1krjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('xozscpt2726on7jbcb_pahjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('59zrklao5bwgqf5a9baeerjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF1, U+20AB;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('u-wuoqret9fueobqw7jkrrjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('cjzkeoubrn4kerxqtauh3vtxra8tvwticgirnjhmvjw.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}