#header {
	padding: 44px 0;
	margin: 0;
}
#me {
	margin: 44px 0 22px 0;
}
.menu-section,
.about-section {
	padding: 22px 0 ;
	margin: 0;
}
.nav-b {
	display: none;
}
.hidden-menu {
	display: block;
	position: fixed;
	list-style: none;
	margin: 0;
	box-sizing: border-box;
	width: 85%;
	background-color: #333;
	height: 100%;
	top: 0;
	left: -85%;
	transition: left .2s;
	z-index: 10001;
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
}
.hidden-menu a {
	text-decoration: none;
	color: #fff;
	display: block;
	-webkit-transition: all ease .2s;
	-o-transition: all ease .2s;
	transition: all ease .2s;
	padding: 20px;
	border-bottom: 2px solid #4d4d4d;
	text-transform: capitalize;
	font-size: 25px;
	text-align: center;
}
.hidden-menu .first-li {
	padding: 0 ;
}
.nav-b-logo {
	content: " ";
	width: 100%;
	height: 100px;
	display: inline-block;
	background: url(../images/logo-a.jpg) no-repeat center;
	-webkit-background-size: contain;
	background-size: contain;
	border: none;
}
.hidden-menu-ticker {
	display: none;
}
.hidden-menu li:first-child {
	border-bottom: 2px solid #4d4d4d;
}
.btn-menu {
	color: #fff;
	padding: 5px;
	position: fixed;
	top: 80px;
	left: 50px;
	cursor: pointer;
	transition: left .23s;
	z-index: 10002;
	width: 50px;
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
}
.btn-menu span {
	display: block;
	height: 5px;
	background-color: #000;
	margin: 7px 0 0;
	transition: all .1s linear .23s;
	position: relative;
}
.btn-menu span.first {
	margin-top: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu {
	left: 85%;
}
.hidden-menu-ticker:checked ~ .hidden-menu {
	left: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.first {
	-webkit-transform: rotate(45deg);
	top: 11px;
}
.hidden-menu-ticker:checked ~ .btn-menu span.second {
	opacity: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.third {
	-webkit-transform: rotate(-45deg);
	top: -12.5px;
}
.pink-link {
	text-decoration: underline;
}
.pink-link:hover {
	text-decoration: none;
	color: #e50071!important;
}
.clearfix:before,
.clearfix:after {
	content: "";
	clear: both;
	display: block;
	height: 1px;
}
.logo-header {
	display: inline-block;
	background: url(../images/logo.jpg) no-repeat center;
	-webkit-background-size: contain;
	background-size: contain;
	margin: 10px 0;
	width: 260px;
	height: 100px;
	float: left;
}
.logo-header-b {
	display: block;
	background: url(../images/logo-b.jpg) no-repeat center;
	-webkit-background-size: contain;
	background-size: contain;
	margin: 10px auto;
	width: 260px;
	height: 100px;
}
.slider {
	margin: 0 auto;
}
#cosmetics .slider {
	margin-bottom: 50px;
}
.slide img {
	width: 90%;
	margin: 0 auto;
	display: block;
}
.about-me .bx-controls-direction {
	display: none;
}
.prime-work .container {
	padding-top: 30px;
}
.menu-section .container {
	padding: 0 0 40px 0;
}
.map-iframe {
	width: 100%;
}
.insta-div {
	padding: 0;
	margin: 0;
}
.copy-logo {
	display: inline-block;
	width: 260px;
	height: 100px;
	background: url(../images/logo.jpg) no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.phone-icon {
	position: relative;
	padding: 10px 0 0 61px;
}
.phone-icon:before {
	position: absolute;
	content: "";
	display: inline-block;
	width: 50px;
	height: 50px;
	background: url(../images/whatsapp-logo.png) no-repeat center;
	-webkit-background-size: contain;
	background-size: contain;
	top: 0;
	left: 0;
}
.phone-icon-a {
	position: relative;
	padding: 0 0 0 40px;
}
.phone-icon-a:before {
	position: absolute;
	content: "";
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url(../images/whatsapp-logo.png) no-repeat center;
	-webkit-background-size: contain;
	background-size: contain;
	top: -10px;
	left: -5px;
}
.contact-list-a {
	border: none;
	float: right;
	margin: 10px 0 0 0;
}
.head-contact {
	margin: 0px 50px 0 0;
	display: inline-block;
	vertical-align: text-top;
}
.head-contact:last-child {
	margin: 0;
}
.head-span {
	display: block;
	text-align: left;
	font-size: 18px;
	line-height: 30px;
	color: grey;
}
.map-link-a {
	padding: 0;
}
#reviews {
	position: relative;
	padding-bottom: 100px;
	z-index: 10;
}
.btn-pink {
	position: absolute;
	top: 75px;
	right: 365px;
	text-transform: uppercase;
	color: #EA338D;
	background: #fff;
	border: 2px solid #EA338D;
	display: inline-block;
	padding: 15px 40px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	float: right;
}
.btn-pink:hover {
	color: #fff;
	background: #EA338D;
}
.re-name,
.re-star {
	display: inline-block;
}
.re-name {
	font-size: 1.4em;
	color: #000;
	font-weight: bold;
}
.re-star {
	width: 100px;
	height: 20px;
	background: url(../images/star.png) no-repeat center;
	-webkit-background-size: contain;
	background-size: contain;
	vertical-align: middle;
}
.re-bg {
	position: absolute;
	top: 0;
	bottom: -9999px;
	left: -9999px;
	right: -9999px;
	background: #f1f1f1;
	z-index: -5;
	-webkit-transform: rotate(4deg);
	-ms-transform: rotate(4deg);
	-o-transform: rotate(4deg);
	transform: rotate(4deg);
}
.nums-ul {
	padding: 0;
	margin: 10px 0 0 0;
}
.nums-li {
	display: inline-block;
	padding: 10px;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
}
.nums-li:hover {
	color: #e6006f;
}
.form-popup-reviews {
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	margin: 40px 0 0 0;
	position: relative;
	border-radius: 5px;
	padding: 20px 30px;
	border: 1px solid #DDDDDD;
	width: 740px;
}
.form-popup-reviews .h1 {
	margin: 0;
}
.form-popup-reviews .form-wrap {
	width: 100%;
}
.form-popup-rev {
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	margin: 0;
	border: 1px solid #DDDDDD;
	padding: 20px 50px;
}
.form-popup-rev .form-wrap {
	width: 100%;
}

.form-popup-rev .form-wrap {
	width: 100%;
}
.re-label {
	display: block;
	padding: 20px 0;
	font-size: 20px;
	font-weight: bold;
}
.re-input {
	display: block;
	vertical-align: baseline;
	height: 40px;
	font: 20px/40px PlumbLight;
	color: rgb(0, 0, 0);
	width: 96%;
	padding: 0px 2%;
	border: 1px solid rgb(153, 153, 153);
}
.buttons-pink-reviews {
	text-transform: uppercase;
	background: #EA338D;
	color: #fff;
	border: 2px solid #EA338D;
	display: inline-block;
	padding: 15px 40px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	float: right;
}
.buttons-pink-reviews:hover {
	background: #fff;
	color: #EA338D;
}
.reviews-star {
	display: inline-block;
}
.reviews-star p {
	font-size: 18px;
	font-weight: bold;
	padding: 0 0 0 10px;
}
.star-purp {
	display: inline-block;
	width: 22px;
	height: 21px;
	content: "";
	background: url(../images/star-re.png) no-repeat center;
}
.cosmetics-tr {
	margin: 10px 0;
	display: block;
}
.td-img img {
	height: auto;
	max-width: 150px;
}
.rating {
	unicode-bidi: bidi-override;
	direction: rtl;
}
.rating {
	unicode-bidi: bidi-override;
	direction: rtl;
}
.rating > span {
	display: inline-block;
	position: relative;
	width: 1em;
	font-size: 24px;
	color: #EA338D;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
	content: "\2605";
	position: absolute;
}
.phone-num {
	font-size: 21px;
	padding: 20px 0px 0 5px;
	font-weight: bold;
}
.phone-numb {
	font-size: 27px;
	padding: 10px 0px 0 60px;
	font-weight: bold;
}
.map-span {
	position: relative;
	padding: 0 0 0 25px;
}
.map-map {
	cursor: pointer;
	text-decoration: underline;
}
.map-map:hover {
	text-decoration: none;
}
.metro-span {
	position: relative;
	padding: 0px 0 0 25px;
}
.metro-span:before {
	position: absolute;
	content: '';
	top: 7px;
	left: -4px;
	width: 23px;
	height: 23px;
	background: url(../images/m-yellow-small.png) no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.map-span:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 17px;
	height: 23px;
	background: url(../images/ico1.png) no-repeat;
}
.link-holder {
	font-size: 18px;
}
.uah {
	position: relative;
	padding: 0 0 0 30px;
}
.uah:before {
	position: absolute;
	width: 20px;
	height: 20px;
	content: "";
	display: inline-block;
	background: #000 url(../images/uah.png) no-repeat center;
	-webkit-background-size: contain;
	background-size: contain;
	left: 6px;
}
.rating {
	float: left;
	border: none;
	padding: 0;
}
.rating:not(:checked) > input {
	position: absolute;
	top: -9999px;
	clip: rect(0,0,0,0);
}
.rating:not(:checked) > label {
	float: right;
	width: 1em;
	padding: 0 .1em;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-size: 200%;
	line-height: 1.2;
	color: #d1d1d1;
}
.rating:not(:checked) > label:before {
	content: '★ ';
}
.rating > input:checked ~ label {
	color: #EA338D;
}
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
	color: #EA338D;
}
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
	color: #A52564;
}
.rating > label:active {
	position: relative;
	top: 2px;
	left: 2px;
}
.button-form {
	text-transform: uppercase;
	background: #EA338D;
	color: #fff;
	border: 2px solid #EA338D;
	display: inline-block;
	padding: 15px 40px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}
.button-form:hover {
	background: #fff;
	color: #EA338D;
}
#toTop {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 9999;
	opacity: 0.9;
	display: block;
}
.logo-address-a {
	border-bottom: 3px solid #000;
	display: none;
}
.logo-address-a  .phone-num {
	padding: 0;
}
.online-b {
	text-transform: uppercase;
	color: #fff !important;
	background: #E50071;
	padding: 5px 10px;
	font-weight: bold;
}
.insta-div {
    padding: 0;
    margin: 0;
}
.contact-list-b {
	margin: 0px auto;
	padding: 20px 0 0 0;
	text-align: center;
}
.contact-list-b .head-contact {
	margin: 0 0 0 5px;
	text-decoration: none;
}
.contact-list-b .head-contact a,
.contact-list-b .head-contact span {
	text-decoration: none;
}
.re-textarea {
    min-height: 150px;
    max-height: 300px;
}
.insta-div {
	padding: 0;
	margin: 0;
}
.div-adress {
	display: inline-block;
}
.description p,
.about-section p {
	font-size:  1.2em;
    line-height: 1.4;
}
.cosmetic-img {
	display: block;
	margin: 0px auto;
}
.cosmetic-p {
	padding: 0 15px;
	width: 60%;
	margin: 0px auto;
	font-size: 20px !important;
	text-align: center;
}
.img-me {
	float: left;
	position: relative;
}
.dl-open {
	display: block;
}
/*----- @media style----- */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
	.container {
		width: 100%;
		padding:0;
		margin: 0 auto;
	}
	.logo-address-a {
		display: none;
	}
	#nav .container {
		width: 100%;
		margin: 0 auto !important;
		padding: 0;
	}
	.slider-type2 .bx-prev,
	.slider-type2 .bx-next{
		margin-left:0;
		margin-right:0;
	}
	.slider-type2 .bx-prev{left:15px;}
	.slider-type2 .bx-next{right:15px;}
	.header {
		padding: 0 !important;
	}
	.gallery .bx-prev, .slider .bx-prev, .slider-type2 .bx-prev {
		left: 15px;
	}
	.gallery .bx-next, .slider .bx-next, .slider-type2 .bx-next {
		right: 15px;
	}
	.about-section .slide-list li {
		margin: 0 10px;
	}
	.bx-wrapper {
		width: 90%;
		margin: 0 auto;
		overflow: hidden;
	}
	.about-me h2 {
		padding-left: 50%;
	}
	.prime-work p,
	.prime-work h2,
	.menu-section h2, 
	#cosmetics h2,
	#reviews h2,
	.re-ul,
	.nums-btn {
		padding: 0 20px !important;
	}
	.contact-list,
	#about {
		margin: 0;
	}
	.social-holder {
		margin: 0 20px 0 0;
	}
	.sidebar-open,
	.reviews-open,
	.map-open {
		width: 720px;
		left: 15%;
		top: -20px;
	}
	.form-popup {
		padding: 20px;
	}
	.menu-section {
		padding: 50px 0 0 0;
	}
	.menu-section .container:after {
		display: none;
	}
}
@media only screen and (min-width: 981px) and (max-width: 1024px) {
	body {
		overflow-x: hidden;
	}
	.logo-header {
		display: inline-block;
		float: none;
		margin: 0 auto;
	}
	.head-contact {
		margin: 0 40px 0 0;
	}
	.logo-address-a {
		display: none;
	}
	#nav ul a{
		padding: 25px 15px;
	}
	.header .container {
		width: 69%;
	}
	.masters-section h2 {
		font-size: 40px;
	}
	#about .bx-wrapper,
	#about-two .bx-wrapper {
		overflow: hidden;
	}
	.gallery .bx-prev, .slider .bx-prev, .slider-type2 .bx-prev {
		left: -50px;
	}
	.gallery .bx-next, .slider .bx-next, .slider-type2 .bx-next {
		right: -50px;
	} 
	.about-section .slide-list li {
		margin: 0 8px 0 9px;
	}
	.btn-pink {
    	top: 550px;
	}
	#footer .copy-holder {
		float: none;
		margin: 0 auto;
	}
	.copy-logo {
		display: block;
		margin: 0 auto;
	}
	.contact-list {
		margin: 0 auto;
	}
	.prime-work p,
	.prime-work h2,
	.menu-section h2, 
	#cosmetics h2,
	#reviews h2,
	.re-ul,
	.nums-btn {
		padding: 0 20px !important;
	}
	.sidebar-open,
	.reviews-open,
	.map-open {
		width: 720px;
		left: 15%;
		top: -20px;
	}
	.form-popup {
		padding: 20px;
	}
	.menu-section {
		padding: 50px 0;
	}
	.menu-section .container:after {
		display: none;
	}
	.formsblock {
		width: 600px;
		margin: 0 auto;
		right: 20%;
	}
	.form-popup-reviews {
		width: 500px;
		margin: 10px auto;
	}
}
@media only screen and (min-width: 769px) and (max-width: 980px) {
	body {
		/*
		overflow-x: hidden;
	*/}
	.container {
		padding:0 !important;
		margin: 0 auto!important;
		width:769px !important;
	}
	.logo-header {
    margin: 0 auto;
    display: block;
	}
	#nav,
	.logo-address,
	.yButton {
		display: none;
	}
	.nav-b,
	.logo-address-a {
		display: block !important;
	}
	/*
	#nav .container {
		width: 100%;
		margin: 0 auto !important;
		padding: 0;
	}
	#nav ul a{
		padding: 25px 15px;
	}
	*/
	.slider-type2 .bx-prev,
	.slider-type2 .bx-next{
	
	}
	.slider-type2 .bx-prev{left:15px;}
	.slider-type2 .bx-next{right:15px;}
	.header {
		padding: 0 !important;
	}
	.gallery .bx-prev, .slider .bx-prev, .slider-type2 .bx-prev,
	.gallery .bx-next, .slider .bx-next, .slider-type2 .bx-next {
		
	}
	.bx-wrapper {
		margin: 0 auto;
		overflow: hidden;
		width: 90%;
	}
	.about-me h2 {
		font-size: 40px;
		margin: 0px;
	}
	.prime-work p,
	.prime-work h2,
	.menu-section h2, 
	#cosmetics h2,
	#reviews h2,
	.re-ul,
	.nums-btn {
		padding: 0 20px !important;
	}
	.contact-list,
	#about {
		margin: 0;
	}
	.social-holder,
	#footer .social-list {
		margin: 0 auto;
		float: none !important;
		display: block !important;
		width: 100px
	}
	.menu-section {
		padding: 50px 0 0 0;
	}
	#footer .copy-holder {
		float: none;
		margin: 0 auto;
	}
	.copy-logo {
		display: block;
		margin: 0 auto;
	}
	.div-adress {
		display: block;
		margin: 0 auto;
		width: 615px;
	}
	.sidebar-open,
	.reviews-open,
	.map-open {
		width: 80%;
		left: 10%;
		top: 0px;
	}
	.form-popup {
		padding: 20px;
	}
	.btn-pink {
    	right: 10%;
	}
	.menu-section {
    	padding: 50px 0;
	}
	.menu-section .container:after {
		display: none;
	}
	.formsblock {
		margin: 0 auto;
		right: 25%;
	}
	.form-popup-reviews {
		margin: 20px auto;
	}
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
	.container {
		width: 481px !important;
		padding:0 !important;
		margin: 0 auto !important;
	}
	#nav,
	.logo-address,
	.yButton {
		display: none;
	}
	.nav-b,
	.logo-address-a {
		display: block;
	}
	.slider-type2 .bx-prev,
	.slider-type2 .bx-next{
		display: none;
	}
	.slider-type2 .bx-prev{left:15px;}
	.slider-type2 .bx-next{right:15px;}
	.header {
		padding: 0 !important;
	}
	.gallery .bx-prev, .slider .bx-prev, .slider-type2 .bx-prev,
	.gallery .bx-next, .slider .bx-next, .slider-type2 .bx-next {
		display: none;
	}
	.about-section .slide-list li {
		margin: 0 10px;
	}
	.bx-wrapper {
		width: 90%;
		margin: 0 auto;
		overflow: hidden;
	}
	.about-me h2 {
		font-size: 30px;
	}
	.prime-work p,
	.prime-work h2,
	.menu-section h2, 
	#cosmetics h2,
	#reviews h2,
	.re-ul,
	.nums-btn {
		padding: 0 20px !important;
	}
	.menu-section {
    	padding: 50px 0;
	}
	.contact-list,
	#about {
		margin: 0;
	}
	.social-holder,
	#footer .social-list {
		margin: 0 auto;
		float: none !important;
		display: block !important;
		width: 100px
	}
	.menu-section {
		padding: 50px 0 0 0;
	}
	#footer .copy-holder {
		float: none;
		margin: 0 auto;
	}
	.copy-logo {
		display: block;
		margin: 0 auto;
	}
	.div-adress {
		display: block;
		margin: 0 auto;
		width: 400px;
	}
	.sidebar-open,
	.reviews-open,
	.map-open {
		width: 400px;
		left: 20px;
		top: -20px;
	}
	.form-popup {
		padding: 20px;
	}
	.btn-pink {
    	top: 600px;
    	right: 45%;
	}
	.about-me {
		padding: 50px 0;
	}
	.about-me-holder {
		height: 600px;
	}
	.menu-section .container:after {
		display: none;
	}
	.formsblock {
		width: 600px;
		margin: 0 auto;
		right: 25%;
	}
	.form-popup-reviews {
		width: 500px;
		margin: 10px auto;
	}
	.re-textarea {
		max-height: 500px;
	}
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
	#nav,
	.logo-address,
	.yButton {
		display: none;
	}
	.nav-b,
	.logo-address-a {
		display: block;
	}
	.about-me {
		padding: 50px 0;
	}
	.about-me-holder {
		height: 600px;
	}
	.menu-section {
    padding: 50px 0;
	}
	.menu-section .container:after {
		display: none;
	}
}
.overlay {
	position: fixed;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    display: none;
	z-index: 686;
}
.overlay-open {
	display: block;
}